.hidden-text{
	background-color: LightGrey;
	color: LightGrey;
	display: inline-block;
	border: 1px solid grey;
}

textarea{
	display:block;
}

.essential{
	background-color: LightGrey;
	font-size: 120%;
	border: 1px solid grey;
	margin: 1em;
	padding: 1em;
}

.essential:before{
	content: 'Это важно:';
	font-weight:bold;
}

.epigraph{
	font-style:italic;
	text-align: right;
}